In [2]:
# Install the packages
# !pip install pandas
# !pip install kaggle

# import pandas library
import pandas as pd

# import zipfile library
import zipfile

# import kaggle library 
import kaggle

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/dchoi/.kaggle/kaggle.json'

/var/folders/gl/654wswpd6jgfjc_36gz6_dqr0000gn/T/ipykernel_1737/3863215999.py:6: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd
/Users/dchoi/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [3]:
# download dataset from kaggle using the Kaggle API
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

/Users/dchoi/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(
Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/dchoi/.kaggle/kaggle.json'
london-bike-sharing-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [4]:
# extract the file from the downloaded zip file
zipfile_name = 'london-bike-sharing-dataset.zip'
with zipfile.ZipFile(zipfile_name, 'r') as file:
	file.extractall()

In [5]:
# read in the csv file as a pandas dataframe
bikes = pd.read_csv('london_merged.csv')

In [6]:
# explore the data
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [7]:
bikes.shape

(17414, 10)

In [8]:
bikes.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [9]:
# count the unique values in the weather_code column
bikes.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [10]:
# count the unique values in the season column
bikes.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [11]:
# specifying the column names that I want to use
new_cols_dict = {
	'timestamp': 'time',
	'cnt': 'count',
	't1': 'temp_real_c',
	't2': 'temp_feels_like_c',
	'hum': 'humidity_percent',
	'wind_speed': 'wind_speed_kph',
	'weather_code': 'weather',
	'is_holiday': 'is_holiday',
	'is_weekend' : 'is_weekend',
	'season' : 'season'
}

# renaming the columns to the specified column names
bikes.rename(new_cols_dict, axis=1, inplace=True)

In [12]:
# changing the humidity values to percentage (a value between 0 and 1)
bikes.humidity_percent = bikes.humidity_percent / 100

In [13]:
# creating a season dictionary to map integers to actual seasons
season_dict = {
	'0.0': 'spring',
	'1.0': 'summer',
	'2.0': 'autumn',
	'3.0': 'winter',
}

# creating a weather dictionary to map integers to actual weater strings
weather_dict = {
	'1.0': 'Clear',
	'2.0': 'Scattered clouds',
	'3.0': 'Broken clouds',
	'4.0': 'Cloudy',
	'7.0': 'Rain',
	'10.0': 'Rain with thunderstorm',
	'26.0': 'Snowfall',
}

# changing the seasons column data type to string
bikes.season = bikes.season.astype('str')
# mapping the values 0-3 to the actual seasons
bikes.season = bikes.season.map(season_dict)

# changing the weather column data type to string
bikes.weather = bikes.weather.astype('str')
# mapping the values to the actual weathers
bikes.weather = bikes.weather.map(weather_dict)

In [14]:
# creating a is_weekend dictionary to map integers to boolean values
is_weekend_dict = {
	'0.0': 'False',
	'1.0': 'True'
}

# creating a is_holiday dictionary to map integers to boolean values
is_holiday_dict = {
	'0.0': 'False',
	'1.0': 'True'
}

# changing the is_weekend column data type to string
bikes.is_weekend = bikes.is_weekend.astype('str')
# mapping the values to the boolean string
bikes.is_weekend = bikes.is_weekend.map(is_weekend_dict)

# changing the is_holiday column data type to string
bikes.is_holiday = bikes.is_holiday.astype('str')
# mapping the values to the boolean string
bikes.is_holiday = bikes.is_holiday.map(is_holiday_dict)

In [15]:
# checking the dataset
bikes.head()

,time,count,temp_real_c,temp_feels_like_c,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,False,True,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,False,True,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,False,True,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,False,True,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,False,True,winter

In [16]:
# writing the final dataframe to an excel file for Tableau visualization.
bikes.to_excel('london_bikes_final.xlsx', sheet_name='Data')